/* app screen */

.view {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  color: var(--accent-font-color);
  background: var(--accent-color);
  
  display: none;
  z-index: 0;
}

.view-visible {
  display: flex;
  flex-direction: column;
  z-index: 3;
}