/* Editor Screen */



#editor-screen {
  color: var(--editor-font-color);
}


#editor {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  background: var(--editor-color);
  outline: none;
  padding: 5px 9px;
}

/* app-bar del editor */
#editor-main-menu {
  display: flex;
  background: var(--editor-lightcolor);
}

#editor-main-menu > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--editor-font-color);
  font-size: 1.2rem;
  
  background: var(--editor-color);
  border-radius: 5px;
  padding: 2px 7px;
  margin: 2px;
}


/* footer del editor */
#editor-toolbar {
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--editor-lightcolor);
}
