/* Main app styles */

:root {
  /* tema de aplicación */
  --primary-color: #036AB3;
  --primary-ligthcolor: #5C9EFE;
  --primary-darkcolor: #003379;
  --primary-font-color: #FFFFFF;
  
  --accent-color: #FFFFFF;
  --divisor-color: #EEEEEE;
  --accent-font-color: #222222;
}

* {
  margin: 0;
  user-select: none;
}


input {
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}