/* WorkSpace screen */

#work-screen {
  
}

/* lista de carpetas */
#work-folder-list {
  flex-grow: 1;
  overflow-y: auto;
}

/* mostrar directorio actual */
#work-dir-view {
  background: var(--primary-color);
  color: var(--primary-font-color);
  font-weight: bold;
  border-radius: 100px;
  font-size: .8em;
  
  padding: .3em 1em;
  margin: .5em 0;
  
  align-self: center;
}