/* Editor Screen */

#editor-view {
  --editor-color: #2F3129;
  --editor-font-color: #ffffff;
  --editor-lightcolor: #555555;
  --editor-darkcolor: #333333;
  
  color: var(--editor-font-color);
}

/* app-bar del editor */
#editor-main-menu {
  display: flex;
  background: var(--editor-lightcolor);
}


#editor-main-menu > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--editor-font-color);
  font-size: 1.2rem;
  
  background: var(--editor-color);
  border-radius: 5px;
  padding: 2px 7px;
  margin: 2px;
}


/* footer del editor */
#editor-toolbar {
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--editor-lightcolor);
}



/* Editor */
.editor {
  width: 100%;
  flex-grow: 1;
  position: relative;
  
  overflow: auto;
  background: var(--editor-color);
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.editor > .frame-autocomplete {
  display: none;
}

/* tamaño de letra del editor */
.editor > .frame-lines,
.editor > .frame-input,
.editor > .frame-highlight {
  font-size: 0.8rem;
  line-height: 1.2;
  font-family: monospace;
  padding: 5px 9px;
}

/* numeros de linea */
.editor > .frame-lines {
  min-width: 1.5em;
  max-width: 1.5em;
  background: var(--editor-darkcolor);
  box-shadow: 1px 0 5px black;
  text-align: right;
  height: 100%;
}

/* textarea */
.editor > .frame-input {
  overflow: hidden;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  
  border: none;
  outline: none;
  color: rgba(0,0,0,0);
  background: none;
  caret-color: var(--editor-font-color);
}

/* zona de resaltado */
.editor > .frame-highlight {
  position: absolute;
  top: 0;
  left: 0;
}