/* Colors for keywords */

.token-PROPERTY {
  color: yellow
}


.token-COMMENT {
  color: gray;
}

.token-HEADER {
  color: green;
}

.token-HEX {
  color: orange
}

.token-STRING {
  color: red;
}

.token-NUMBER {
  color: #77e4ff;
}

.token-BOOLEAN {
  color: #e284ff;
}
