/* app screen */

.screen {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  color: var(--accent-font-color);
  background: var(--accent-color);
  
  display: none;
  flex-direction: column;
}
