/* boton flotante */

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background: var(--primary-color);
  color: var(--primary-font-color);
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}